/* #formDiv {
	margin-top: 40px;
}
#theForm input {
	box-sizing: border-box;
	border-color: white;
	border-style: groove;
	padding-top: 7px;
	border-radius: 5px;
	display: inline-block;
	padding-top: 4px;
}
#theForm input:focus {
	border-color: #007bff;
}
#theForm button {
	box-sizing: border-box;
	padding-top: 4px;
}
#movieDescriptionDiv {
	padding: 20px;
	background-color: white;
	margin-top: 30px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px #ccc;
}
.btn {
	padding-top: 4px;
}
.form-control {
	box-shadow: none !important;
}
.flexContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}
 */

#banner{
	color:white;
	/*background-image:url('cool-background(1).png');*/
 }